# Environnement virtuel
venv312/
.venv/
venv/
env/

# Cache Python
__pycache__/
*.py[cod]

# Datasets et archives
*.zip
*.tar
*.gz

# Notebooks checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

*.jpeg
*.jpg
*.pdf

Jeu de Données d'Images Cérébrales pour la Détection de Tumeurs.txt
*.odp
